h1 {
    color: antiquewhite;
}

body {
    background-color: darkred;
}

p {
    color: antiquewhite;
}

a{
    color: tomato;
}

footer {
    background-color: antiquewhite;
}

.footer {
    font-size: 12px;
    color: rgb(230, 57, 27);
}