body {
    background-color: ;
}

h1 {
    font-size: ;
    text-align: ;
    color: ;
}

h2 {
    font-size: ;
    text-align: ;
    color: ;
}

p {
    font-size: ;
    text-align: ;
    color: ;
}
